<% if @username == @player1_name %>
  <p>You are <%= @player1_name %></p>
  <%= @board_display1 %>
  <%= @opponent_display1 %>
  <% if @turn == @username %>
    <script src="/src/turn.js"></script>
  <% end %>
<%else %>
  <p>You are <%= @player2_name %></p>
  <%= @board_display2 %>
  <%= @opponent_display2 %>
  <% if @turn == @username %>
    <script src="/src/turn.js"></script>
  <% end %>
<% end %>
