<div id='board' style='width:<%= 12 * 50 %>px; height:<%= 12 * 50 %>px; align: center; padding-left: 20px;'>
  <form action="/test" method="get">
  <% (1..12).to_a.reverse.each do |x| coloumn = "#{x}" %>
    <% (1..12).each do |x| row = "#{x}" %>
        <a href='/test/<%= coloumn + "," + row %>' type="button" class="grid" id=<%= "grid-" + coloumn + "-" + row %>>
          <%= coloumn + "-" + row %>
        </a>
    <% end %>
  <% end %>
</div>


<!-- #<%= @result %> -->
